extends layout

block content
  table.table.table-striped(style='width:700px')(align='center')
    thead
      tr
        th First Name
        th Last Name
        th Designation
    tbody
      each value in data
        tr
          td=value.FirstName
          td=value.LastName
          td=value.Designation

  h1= title
  p Welcome to #{title}
  script.
    var f1 = function() { document.getElementById('myImage').src='#{imgdata.item1}' }
  script.
    var f2 = function() { document.getElementById('myImage').src='#{imgdata.item2}' }
  script.
    var f3 = function() { document.getElementById('myImage').src='#{imgdata.item3}' }

  button(onclick='f1()') One!
  button(onclick='f2()') Two!
  button(onclick='f3()') Three!
  p
  a: img(id='myImage' height='200' width='200' src='')